@media only screen and (max-width:662px) {
    .cart{
           width: 100%;
        color: red;
    }
  .img{
    width: 100%;
    height: 100%;
  }
}

.cart-container{
  position: relative;
}
.favorite-btn{
  position: absolute;
  bottom:5px;
}
.nav-bar a.active{
  color: red;
}
.offerCard{
  position: relative;
}
.offer-img{
  position: absolute;
  top: 0;
  right: 0;
}
